body{
    align-items: center;
    text-align: center;
    background-image: url("https://i.pinimg.com/564x/13/89/ae/1389ae30d757fa629272a9455533f9f9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.singers{
    background-color: aliceblue ;
   font-family: 'Akaya Telivigala', cursive;
    
}
.camera 
{
    width: 300px;
    height: 300px;
    border: blueviolet solid 2px;
}
.capture 
{
    width: 300px;
    height: 300px;
    border: blueviolet solid 2px;
}
button{
    width:100px;
    font-family: cursive;
    margin-top: 20px;
}